<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wang.mytest.feature.storage">

    <application>
        <activity android:name=".database.DatabaseActivity"
            android:windowSoftInputMode="adjustNothing"/>

        <provider
            android:name=".database.MyContentProvider"
            android:authorities="com.wang.mytest.feature.storage"
            android:exported="true" />
    </application>
</manifest>
